<launch>
 <!-- <node name="a_star" pkg="path_planner" type="a_star" /> -->
  <node name="tf_broadcaster" pkg="path_planner" type="tf_broadcaster" />
 <node name="map_server" pkg="map_server" type="map_server" args="/home/karl/ros_ws/src/path_planner/src/maps/map.yaml" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/karl/.rviz/path_planner.rviz" />
</launch>
