<launch>
 <!-- <node name="a_star" pkg="path_planner" type="a_star" /> -->
 <node name="tf_broadcaster" pkg="path_planner" type="tf_broadcaster" />
 <param name="use_sim_time" value="true" />
 <node name="player" pkg="rosbag" type="play" args="-l --clock /home/karl/ros_ws/src/test_data/20160211_Arlanda_01_static.bag" />
 <node name="rviz" pkg="rviz" type="rviz" args="-d /home/karl/.rviz/path_planner.rviz" />
</launch>
