<launch>
 <!-- Turn on hybrid_astar node -->
 <node name="hybrid_astar" pkg="hybrid_astar" type="hybrid_astar" /> 
 <node name="tf_broadcaster" pkg="hybrid_astar" type="tf_broadcaster" />
 <node name="map_server" pkg="map_server" type="map_server" args="$(find hybrid_astar)/maps/map.yaml" />
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/launch/config.rviz" />
</launch>
